@font-face {
  font-family: norse;
  src: url(./Fonts/norse.bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  min-width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: roboto;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100%;
}
aside {
  position: relative;
  background: url(/img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  background-color: hsla(180, 2%, 8%, 0.774);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin: 2rem 0rem 2rem 0rem;
}

.logo-img {
  max-width: 7rem;
  padding: 2rem 1rem 2rem 0rem;
  width: 100%;
}

.logo-text {
  font-family: norse;
  font-size: 7rem;
  color: white;
}

.attribution {
  position: absolute;
  bottom: 0.5rem;
  color: white;
  align-self: center;
  justify-self: flex-end;
}

main {
  background-color: #f0f0f0;
  min-height: 100%;
  color: black;
  font-size: 2rem;
}
.intoduction {
  font-size: 2.5rem;
  font-weight: 700;
  width: 80%;
  margin: 2rem auto 0rem auto;
}

form {
  margin: 4rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  min-width: 100%;
  background-color: #ffffff;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(145, 141, 141);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h1 {
  margin-bottom: 2rem;
  align-self: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border: none;
  padding: 0rem 10% 0rem 10%;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20rem;
  margin: auto;
}

.field-input {
  height: 3rem;
  border: solid;
  border-radius: 0.4rem;
  border-width: 0.05rem;
  padding: 0 1rem 0 1rem;
}

.field-input:focus {
  outline: none;
  border-color: #1350c9;
  border-width: 0.2rem;
}

.error {
  color: red;
  font-size: 1.6rem;
  margin: auto;
}

.submit-button {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #596d48;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem auto 2rem;
}

@media (min-width: 54rem) {
  body {
    display: flex;
    flex-direction: row;
  }

  aside {
    max-width: 40%;
  }

  .logo-img {
    min-width: 10rem;
  }
  .logo-text {
    font-size: 10rem;
  }

  h1,
  .submit-button,
  .log-in-message {
    align-self: flex-start;
    margin-left: 10%;
  }

  fieldset {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
}
